site/
.venv/
venv/
__pycache__/
*.pyc
.DS_Store
node_modules/
dist/
build/
.idea/
.vscode/

# Terraform
**/.terraform/
*.tfstate
*.tfstate.*
*.tfvars
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
.terraform.lock.hcl
